In [1]:
import gmaps
import pandas as pd
import requests
import json
from pprint import pprint
# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
rent_df = pd.read_csv('housing_census_data.csv')
rent_df.tail()

,Zipcode,Median Rent,Median Home Value,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
56,60706,1898.0,279300.0,23541,46.0,58809,29545,2216,9.413364
57,60707,1839.0,249300.0,43250,39.5,55566,27670,4857,11.230058
58,60803,1560.0,163700.0,22362,36.4,51439,24829,2122,9.489312
59,60804,1481.0,177300.0,83735,29.3,44110,16055,16415,19.603511
60,60805,1566.0,182600.0,19796,40.3,67482,31431,1387,7.006466

In [3]:
rent_df["Lat"] = ""
rent_df["Lng"] = ""
rent_df.head()

,Zipcode,Median Rent,Median Home Value,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Lat,Lng
0,60601,1944.0,391100.0,13887,37.6,110215,95152,1171,8.432347,,
1,60602,1666.0,NaN,1277,31.1,115774,77279,32,2.505873,,
2,60603,1630.0,NaN,1197,26.7,140114,106207,261,21.804511,,
3,60604,1835.0,NaN,668,40.6,114565,130966,127,19.011976,,
4,60605,1865.0,284100.0,26188,33.6,107811,81144,2312,8.828471,,

In [4]:
params = {"key": gkey}

for index, row in rent_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    address = row['Zipcode']

    # update address key value
    params['address'] = f"{address}"

    # make request
    response = requests.get(base_url, params=params).json()
    
  
    # convert to json
#     zip_lat_lng = response.json()

    rent_df.loc[index, "Lat"] = response["results"][0]["geometry"]["location"]["lat"]
    rent_df.loc[index, "Lng"] = response["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
rent_df.head()
# zip_lat_lng

,Zipcode,Median Rent,Median Home Value,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Lat,Lng
0,60601,1944.0,391100.0,13887,37.6,110215,95152,1171,8.432347,41.884,-87.6197
1,60602,1666.0,NaN,1277,31.1,115774,77279,32,2.505873,41.8835,-87.6291
2,60603,1630.0,NaN,1197,26.7,140114,106207,261,21.804511,41.8809,-87.6254
3,60604,1835.0,NaN,668,40.6,114565,130966,127,19.011976,41.8785,-87.6279
4,60605,1865.0,284100.0,26188,33.6,107811,81144,2312,8.828471,41.8703,-87.6236

In [5]:
# Store latitude and longitude in locations
locations = rent_df[["Lat", "Lng"]]


# Fill NaN values and convert to float
rent = rent_df["Median Rent"].astype(float)

In [6]:
# Plot Heatmap
fig = gmaps.figure()
weight = rent * 0.1
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, point_radius=0.02, max_intensity=200)

# heat_layer.savefig('heat_map.png', dpi=400).fig

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))