In [5]:
import pandas as pd
import numpy as np
from pprint import pprint

In [6]:
airbnb_df = pd.read_csv('AisBnB_listings.csv')
airbnb_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2384,Hyde Park - Walk to UChicago/Metra to McCormic...,2613,Rebecca,NaN,Hyde Park,41.78886,-87.58671,Private room,50,2,149,5/17/2019,2.81,1,316
1,4505,We're back. 365 Great Reviews. 1 bad one.,5775,Craig & Kathleen,NaN,South Lawndale,41.85495,-87.69696,Entire home/apt,117,2,368,5/5/2019,2.96,1,310
2,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90289,-87.68182,Entire home/apt,80,2,338,5/5/2019,2.81,1,309
3,9811,Barbara's Hideaway - Old Town,33004,At Home Inn,NaN,Lincoln Park,41.91769,-87.63788,Entire home/apt,150,4,35,5/15/2019,0.56,11,280
4,10610,3 Comforts of Cooperative Living,2140,Lois And Ed,NaN,Hyde Park,41.79708,-87.59195,Private room,35,2,38,4/12/2019,0.68,5,240

In [7]:
airbnb_cleaned = airbnb_df[["name", "neighbourhood","latitude", "longitude", "number_of_reviews"]]
airbnb_cleaned.head()

,name,neighbourhood,latitude,longitude,number_of_reviews
0,Hyde Park - Walk to UChicago/Metra to McCormic...,Hyde Park,41.78886,-87.58671,149
1,We're back. 365 Great Reviews. 1 bad one.,South Lawndale,41.85495,-87.69696,368
2,Tiny Studio Apartment 94 Walk Score,West Town,41.90289,-87.68182,338
3,Barbara's Hideaway - Old Town,Lincoln Park,41.91769,-87.63788,35
4,3 Comforts of Cooperative Living,Hyde Park,41.79708,-87.59195,38

In [8]:
airbnb_cleaned.to_csv("AirBnB_Cleaned.csv", encoding="utf-8", index=False)